# Ejercicio 1

In [18]:
planet = {
	'name': 'Mars',
	'moons': 2
}

In [19]:
print(f"Nombre del planeta: {planet.get('name')}")
print(f"Número de lunas: {planet['moons']}")

Nombre del planeta: Mars
Número de lunas: 2

In [20]:
planet.update({
	'moons' : 5
})

planet['name'] = 'Otro planeta'

In [21]:
print(f"Nombre del planeta: {planet.get('name')}")
print(f"Número de lunas: {planet['moons']}")

Nombre del planeta: Otro planeta
Número de lunas: 5

In [22]:
planet.update({
	'circunferencia (km)' : {
		'polar': 6752,
		'equatorial': 6792
	}
})

#planet['circunferencia (km)'] = {'polar': 6752, 'equatorial': 6792}

In [23]:
print(f"Nombre del planeta: {planet.get('name')}")
print(f"Número de lunas: {planet['circunferencia (km)']}")

Nombre del planeta: Otro planeta
Número de lunas: {'polar': 6752, 'equatorial': 6792}

# Ejercicio 2

In [24]:
# Planets and moons

planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

In [27]:
moons = planet_moons.values()
planets = len(planet_moons.keys())

totalMoons = 0

for moon in moons:
	totalMoons += moon

print(f'Número total de lunas en el sistema solar: {totalMoons}')
print(f'Promedio de lunas por planeta: {totalMoons / planets}')

Número total de lunas en el sistema solar: 214
Promedio de lunas por planeta: 17.833333333333332